<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - XPOS340.web</title>

    <!--jquary-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!--jquary validation-->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

    <!--bootstap css librari-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/XPOS340.web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />

</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <i class="fas fa-home"></i>
            </a><a class="navbar-brand" asp-controller="Order" asp-action="IndexCopy">
                Order
            </a>
            <form class="d-flex" id="frmCategoryfilter" asp-controller="Order" asp-action="IndexCopy">
                <input class="form-control me-2" type="text" id="filter" name="filter" value="@ViewBag.filter" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <a class="btn btn-outline-success" asp-controller="Order" asp-action="History">
                <i class="fas fa-history"></i>
            </a>

        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <partial name="_modal" />
    <partial name="_Alert" />

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
